@charset "utf-8";
/* 
wind.chen 

Kele8_V3
wind_chen_nt@gmail.com 
*/

/*评论

#Comment_Posted{background:#f6f6f6; height:260px; width:628px; border:#ccc 1px solid; float:left; margin:10px 0 5px 0; }
#Comment_Posted img{border:#ccc 1px solid; float:left;}
#Comment_Posted .title{height:25px; width:613px; padding-left:15px; float:left; line-height:2.0; font-weight:bold; font-size:14px; background:none;}
#Comment_Posted textarea{resize: none; height:140px; width:600px; background:#FFF; border:#ccc 1px solid; margin:10px 0 0 14px;}

#Comment_Posted .bottom{height:28px; width:598px; margin:12px 0 0 15px; float:left;}
#Comment_Posted .bottom span{ height:20px; line-height:2.4;  margin_right:5px; float:left; padding-right:5px;}

#Comment_Posted .sign_text{ height:24px; width:120px; padding:2px 0 0 4px; margin:3px 15px 0 2px; float:left;}
#Comment_Posted .sign_btn{ background: url(../img/bg/sing.png); border:none; height:20px; width:38px; margin:4px 10px 0 10px; color:#fff; text_align:center; float:left;}
#Comment_Posted .Submit{background: url(../img/bg/Submit.png); height:28px; width:90px; margin:0 0 0 8px ; _margin-right:12px;display:inline; border:none; text-align:center; color:#fff;; font-weight:bold;  float:right;}

.errorlist li{float: right; color:#f00;}


#Comment{ min-height:260px; _height:260px; width:628px; border:#ccc 1px solid; float:left; margin-top:10px; padding-bottom:10px;}
#Comment .title{width:400px; padding:6px 0 0 15px; float:left; font-weight:bold; }
#Comment .look{width:200px; padding:8px 0 0 0; float:left;}
#Comment ol{ width:628px;margin-top:30px; _margin-top:0;}
#Comment li{ border-bottom:#ccc 1px dashed; min-height:52px;_height:52px; display:block;}
#Comment li a{display:block; padding:10px; line-height:1.8; text-decoration: none; text-indent:2em;}
#Comment li:hover {background:#eee;text-decoration: none; }
#Comment li .t{ padding:10px;}
#Comment li .name{ float:left;}
#Comment li .time{ float:right;}*/

/*
----------------评论----------------*/
.Mainbox_pl{width:628px;border:1px solid #DDD;margin:0 auto ; float:left;}
.Mainbox_pl .comment_c{width:628px;height:27px;background:url(../img/bg/mainbox_c.jpg) repeat-x 0 0 scroll;}
.Mainbox_pl .comment_c h4{line-height:28px;padding-left:5px;float:left;font-weight:700}
.Mainbox_pl .comment_c a{line-height:28px;margin-right:5px;float:right;_display:inline;font-size:14px;color:#C93300;}
.Mainbox_pl .new_comment{width:618px;margin:10px auto 20px;border:1px solid #DDD;overflow:hidden; float:left; margin-left:3px;}
.Mainbox_pl .new_comment h5{height:40px;background:url(../img/bg/pl.jpg) repeat-x 0 0 scroll;font-weight:700;line-height:30px;padding-left:10px}
/*.Mainbox_pl .comment_list{width:618px;}*/
.Mainbox_pl .comment_list_1{border:1px solid #DDD;margin:0 5px 5px;padding-bottom:5px;background:#F7FEFE}
.Mainbox_pl .odd{background:white;}
/*.Mainbox_pl .comment_list_2{width:588px;border:1px solid #DDD;margin:0 5px;}*/
.Mainbox_pl .comment_info{height:28px;background:#E4F5FF;font-size:12px;font-weight:700;color:#4082A9;line-height:28px;position:relative;}
.Mainbox_pl .floor{color:#C93300;margin-left:5px;_display:inline;}
.Mainbox_pl .author{margin-left:5px;_display:inline;_margin-top:4px}
.Mainbox_pl .author img{width:16px; height:16px;vertical-align:middle;margin:0 0 5px 3px;}
.Mainbox_pl .time{font-weight:normal;margin-right:5px;_display:inline;position:relative}
.Mainbox_pl .comment_con{margin:0 auto;padding:10px 0 0 5px;overflow:hidden;}
.Mainbox_pl .comment_con p{line-height:18px;font-size:12px;margin:0 5px 10px;}
.Mainbox_pl .comment_con_1{width:568px;margin:0 auto;padding:10px 0 10px 5px;overflow:hidden;}
.Mainbox_pl .comment_con_1 p{line-height:18px;font-size:12px;width:480px;float:left;}
.new_comment .comment_pl{position:relative;}
.Mainbox_pl .comment_tc{position:absolute;background:#FFF;width:580px;height:206px;padding:15px 15px 0 0;border:3px solid #DDD;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;z-index:999}
.Mainbox_pl .pinglun_tc{width:550px;margin:0 auto;}
.Mainbox_pl .loging_tc{width:550px;margin: 3px auto 0;text-align: right;overflow:hidden;}
textarea.textarea2_tc {height:122px;line-height: 150%;width:550px;padding: 4px;border: 1pt solid #DCDDDD;font-family: Verdana, Arial, Helvetica, sans-serif;background-color: white;text-align: left;background: url(../img/bg/kele8.jpg) no-repeat center center;/*绝对地址*/margin-bottom: 4px;}
.Mainbox_pl .comment_end{background:url(../img/bg/end.png) no-repeat 0 -17px;height:17px;width:17px;position:absolute;top:3px;right:3px;font-size:0;}
.Mainbox_pl .comment_end{-webkit-transition: -webkit-transform .2s ease-in;}

.Mainbox_pl .comment_jb{margin-top:-5px;display:block;width:48px;}
.container_24 .Mainbox_pl .comment_jb a{font-size:12px;margin:0 5px;color:#C93300;width:48px;}
.Mainbox_pl .comment_jb_1{margin-top:-5px;display:block;width:88px;}
.container_24 .Mainbox_pl .comment_jb_1 a{font-size:12px;margin:0 5px;color:#C93300;width:45px;}
.Mainbox_pl .comment_h_1{width:70px;height:30px;background:url(../img/bg/dsj.gif) no-repeat 10px 10px scroll;padding-left:20px;font-size:12px;}
.comment_list .comment_tool{position:relative;}
.comment_list em{font-style:normal}
.Mainbox_pl .comment_list .comment_info a{color:#4082A9;}
.comment_list .comment_h{height:0;position:relative;}
.comment_list .comment_h a{color:#005790;font-size:12px;position:absolute;left:7px;top:-18px;text-decoration:none;}
.comment_list .comment_h i{font-style: normal;border-color: transparent #005790;border-style: dashed solid;border-width: 4px 0 4px 4px;font-size: 0;margin: 3px 0 0;height: 0;width: 0;position: absolute;}
.comment_list .comment_h .open i{border-color: #005790 transparent;border-style: solid dashed;border-width: 4px 4px 0;margin-top: 6px;}
.comment_list .comment_h span{margin-left: 10px;}
.graybg{background:#f8f8f8}
.comment_t{height:26px;margin:0 10px 5px;}
.comment_t a{color:#005790;font-size:12px;}
.comment_t a{ float:right; margin-left: 10px;padding-left:8px;}
.comment_t a,
.comment_t span{background: url(../img/bg/commt_bg.png) no-repeat scroll 0 -21px transparent;cursor: pointer;height: 25px;line-height: 26px;overflow: hidden;}
.comment_t span{background-position: 100% -21px;display: inline-block;min-width: 14px;padding-right: 8px;text-align: center;}
.comment_t .comment_cc{background-position: 0 -123px;padding-left:20px}
.comment_t .comment_cc em{color: #FF8A7A;font-size: 12px;}
.comment_t .comment_cc span{background-position: 100% -123px;color:#FFFFFF;font-size: 0;}
.comment_t .comment_d{background-position: 0 -98px;padding-left: 20px;}
.comment_t .comment_d em{color: #7DCAFF;font-size: 12px;}
.Mainbox_pl .comment_d span{background-position: 100% -98px;color: #FFFFFF;font-size: 0;}
.Mainbox_pl .pinglun-c{width:618px;margin:0 auto;margin-bottom:5px;}
textarea.textarea2 {height: 132px;line-height: 150%;width:608px;padding: 4px;border: 1pt solid #DCDDDD;font-family: Verdana, Arial, Helvetica, sans-serif;background-color: white;text-align: left;background: url(../img/bg/kele8.jpg) no-repeat center center;/*绝对地址*/margin-bottom: 4px;}
.Mainbox_pl .loging{width:618px;margin: 3px auto 0;text-align: right;overflow:hidden;}
.Mainbox_pl .lg{display: inline;float: left;font-weight: bold;margin: 3px 0 0 5px;text-align: left;width: 150px;font-size:12px;}
.container_24 .Mainbox_pl .lg a{color:#E2044F;}
.Mainbox_pl .ccode,
.Mainbox_pl .name{font-weight: bold;font-size:12px;margin:0 3px}
.Mainbox_pl .sign_text{width:5em;margin-right:3px;}
.Mainbox_pl .code{margin-right:10px;}
.Mainbox_pl .code img{width:130px;height:50px;cursor:pointer;}
.Mainbox_pl .code .fb{width:80px;font-size:12px; cursor:pointer;_line-height:18px;_height:21px;margin-left:10px;}
.Mainbox_pl .comment_fb{height:28px;width:618px;margin:10px auto;background:#E4F5FF;}
.container_24 .Mainbox_pl .comment_fb a{color:#C93300;}
.Mainbox_pl .comment_fb h5{float:left;width:120px;line-height:28px;color:#333;font-weight:700;padding-left:5px;}
.Mainbox_pl .comment_fb span{float:right;margin-right:20px;display:inline;line-height:28px;font-size:12px;color:#999;}
.comment_tc span{float:right;margin-right:20px;display:inline;font-size:12px;color:#999;}
.comment_tc em{font-style:normal;font-size:16px;font-weight:700}
.Mainbox_pl .comment_fb em{font-style:normal;font-size:16px;font-weight:700}
.Mainbox_pl .comment_fb a{display:inline;margin-right:5px;font-size:12px;color:#c93300;}
.Mainbox_pl .comment_zy{width:616px;margin:5px auto 0;border:1px dashed #DDD;}
.Mainbox_pl .comment_zy p{margin:5px;line-height:18px;font-size:12px}
.new_comment .comment_tool .comment_h a{font-size:12px; }

ol.comment_page{float:right;margin:30px auto 40px;overflow:hidden;height:20px;}
ol.comment_page a.prev{padding:0 .8em;color:#CCC;_width:40px;}
ol.comment_page a.next{padding:0 .8em;_width:40px;}

ol.comment_page li{float:left;margin-right:0.6em;display:inline;width:auto;_width:10px;line-height:12px; white-space:nowrap; overflow-x:visible}
ol.comment_page a,
ol.comment_page li.selected{display:block;padding:0 .4em;border:1px solid #CCC;height:18px;line-height:18px;text-decoration:none;font-size:12px;}
ol.comment_page a:hover,
ol.comment_page a:focus,
ol.comment_page li.selected{background-color:#E4F5FF;color:#4082A9;}
