@charset "utf-8";
/**
 * @filename:          Content-page.css
 * @website:           http://www.kele8.com
 * @version:           Kele8_V3
 * @updated:           2012-06-01T16:59Z
 * @author:            wind.chen 
 * @explain:           wind_chen_nt@gmail.com  
 */
body{/* for IE6 */background-attachment:fixed; }

/* 固定头部 */

#Head_box{ height:120px;  background:#233270; color:#333;}
#Head{ height:150px; width:950px; margin:0 auto; font-size:12px; line-height:23px;}
#Head_top_box{ 
height:36px;
background: url(../img/bg/title_36.png);

width: 100%;
z-index: 99;
overflow: visible;
position: fixed;
top: 0px;
_position: absolute;
_top: expression(eval(document.documentElement.scrollTop));
font-size:12px;
}

#Head_top{ height:30px; margin-bottom:5px; width:950px; margin:0 auto 0 auto;}
#Head_top_link{ height:16px; width:330px; float:left;  padding-top:10px; line-height:16px;}
#Head_top_link img{float:left;}
#Head_top_link .back{height:20px; width:58px; margin-right:0px;}
#Head_top_link li{height:20px; width:76px; text-align:center; float:left; margin-right:10px;}
#Head_top_link li .red{ color:#e2041b;}
#Head_top_link li .blue{color: #06C;}
#Head_top_link .line{height:28px; width:1px; background:url(../img/line/line_head_top_link.png);}


/*#Head_top_link a:link ,*/#Head_center_index a:link ,#Head_center a:link ,#Head_bottom a:link {color:#fff; text-decoration:none; } 
/*#Head_top_link a:visited,*/#Head_center_index a:visited ,#Head_center a:visited,#Head_bottom a:visited { color:#fff;text-decoration:none; } 
/*#Head_top_link a:hover,*/#Head_center_index a:hover ,#Head_center a:hover,#Head_bottom a:hover { color: #e2041b; text-decoration: underline;  } 
/*#Head_top_link a:active,*/#Head_center_index a:active ,#Head_center a:active,#Head_bottom a:active{ color:#ffff; text-decoration:none;} 





#Head_top_quick{height:34px; width:98px; float:left;}
#Head_top_quick li{ float:none;}
#Head_top_quick a:link {text-decoration:none; } 
#Head_top_quick a:visited {text-decoration:none; } 
#Head_top_quick a:hover { text-decoration:none; } 


#Head_top_quick .btn{ height:31px; width:98px; background:url(../img/button/btn_top_game_quick_w.png) no-repeat 0 -1px scroll; text-align:center; }
#Head_top_quick li ul {list-style-type:none; width:550px; line-height:2.5; position:absolute; left:-999em; background:#eee; float:left; margin-top:5px !important;} 
#Head_top_quick li ul li{ float:left; width:100px; height:30px; margin:0 5px 0 5px; _margin:0 2px 0 2px; float:left; border-bottom:#a1a1a1 1px dashed; overflow:hidden;}
#Head_top_quick li ul li img{height:20px; width:20px; margin:5px; float:left;}

#Head_top_quick li ul a{width:65px; padding-left:5px; text-align:left; float:left; } 
#Head_top_quick li ul a:link {color:#666; text-decoration:none; } 
#Head_top_quick li ul a:visited { color:#666;text-decoration:none; } 
#Head_top_quick li ul a:hover { color:#F3F3F3;text-decoration:none;font-weight:normal; background:#C00; } 
#Head_top_quick li:hover ul { left: auto;} 
#Head_top_quick li.sfhover ul { left: auto;} 





#Head_sign{height:20px; width:440px; float:right; margin-top:6px;}
#Head_sign span{ float:right;}
#Head_sign .btn { height:18px; width:40px;display:block; text-align:center; float:right; color:#F60;}
#Head_sign .land { height:18px; min-width:60px;display:block; text-align:center; float:right; color:#F60;}











/*--文章最终页--*/
#Content{ min-height:1000px; width:588px; padding:0 20px 20px 20px; border:#ccc 1px solid; }
#Content .title{  text-align:center; font-weight:bold; padding:10px; line-height:30px; font-size:24px; border-bottom:#0CF 1px dashed;}
#Content .info{ color:#666; text-align:center;}
#Content .info span{ margin-right:50px;}
#Content_map{height:22px; width:610px; padding-left:18px; background: url(../img/bg/title_24.png); border:#ccc 1px solid; border-bottom:0px; font-size:14px; line-height:22px;margin-top:10px;}
#Content_map a{ margin:0 5px 0 5px;}

#Content_text{ width:588px; margin-top:16px; margin-bottom:10px;}
#Content_text p{ clear:both;}
#Content_text img{ margin:10px; float:left;}

#Content_news{ height:150px; width:628px; margin-top:10px; border:#ccc 1px solid; }
#Content_news li{ height:26px; width:290px; margin:0 12px 0 12px; float:left; overflow:hidden;}

#Content_Share{ height:32px; width:600px; text-align:center; margin-top:20px;clear:both;}
#Content_Share a{ margin-left:10px;}

/*--文章列表--*/
#list{ width:628px; padding-bottom:20px; border:#ccc 1px solid; margin-top:10px;}
#list_map{height:22px; width:610px; padding-left:18px; background: url(../img/bg/title_24.png); border-bottom:#ccc 1px solid;  font-size:14px; line-height:22px;}
#list_map a{ margin:0 5px 0 5px;}
.list{ width:588px; height:3000px; margin:10px 20px 0 20px; border-bottom:#666 dashed 1px; line-height:2.0;}
.list a{ height:30px; width:460px; float:left; overflow:hidden;}
.list_time{ width:80px; float:right;}


/*--分页--*/
.page{ width:600px; margin:16px 0 0 0; text-align:center; display:block; line-height:1.6;}
.page_now{ background:#CCC; color:#333; float:left; height:22px; width:22px; margin:10px 0 0 10px; }
.page a{ border:#ccc 1px solid; float:left; height:22px; width:22px; margin:10px 0 0 10px; }
.page a:hover{ background:#ccc ;color:#000;text-decoration: none; }
.page_next a {height:22px; width:57px;}
.page_next a:hover { background:#ccc ; color:#000;text-decoration: none;}
.page_first a { height:22px; width:34px;}
.page_first a:hover {  background:#ccc ; height:22px; width:34px;color:#000;text-decoration: none;}







/*--图片最终页--*/
.s-center{width:950px;margin:0 auto;}
#pic{ width:950px; background:#171717; color:#eee;position: relative;overflow:hidden;}
#pic_map{ height:20px; padding:10px 0 0 50px;font-size:12px;color:#CCC;}
#pic_map a{ margin:0 10px 0; color:#CCC;text-decoration:none;font-size:12px;}
#pic_map a:hover{text-decoration:underline}
#pic_title{ height:30px; width:945px; font-size:24px;margin-top:15px; text-align:center; overflow:hidden;}
#pic_img{ width:950px; margin:10px auto 0; background:#171717;position:relative;z-index: 2;}
#pic_img img{max-width:950px;  margin:0 auto; display:block; }
.tips a{color:#CCC !important;}

#pic_img a.prev{ width:475px; height:100%;display:block;background:url("http://tu.duowan.com/images/blank.png"); z-index:100;position: absolute;top: 0;left: 0;}
#pic_img a.prev:hover{ cursor: url("http://tu.duowan.com/images/left.cur"),auto;/*鼠标图片为调试使用，请更换为可乐吧鼠标图片//绝对地址*/}
#pic_img a.next{ width:475px; height:100%; display:block; z-index:100;background:url("blank.png");position: absolute;top: 0;right: 0;}
#pic_img a.next:hover{ cursor: url("http://tu.duowan.com/images/right.cur"),auto;/*鼠标图片为调试使用，请更换为可乐吧鼠标图片//绝对地址*/}
#pic_img a.prev:hover,
#pic_img a.next:hover{zoom:1;}

#pic .end_box{
width: 512px;
height: 275x;
padding: 8px;
position: fixed;
_position: absolute;
left: 50%;
top: 50%;
margin: -148px 0 0 -263px;
background-color: #333;
z-index: 111;
}
#pic .center{height:50px; width: 512px; text-align:center;_margin-top:10px;*margin-top:10px;}
#pic .center a { background:#666;color:#eee;display:inline-block;height:26px;line-height:26px; margin:0 20px 0;width:60px;padding:0 5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
-webkit-transition:
color .2s linear,
background-color .2s linear,
border-color .2s linear;
-moz-transition:
color .2s linear,
background-color .2s linear,
border-color .2s linear;}
#pic .center a:hover{background:#999;color:#333;}
#pic .center_pic {height:130px; width: 512px;}
#pic .center_pic li{height:120px; width: 140px; float:left; margin:10px; text-align:center; overflow:hidden;}
#pic .center_pic img{ height:90px; width: 120px;}
#pic .center_pic .center{height:40px; width: 200px; }
#pic .center_pic li a{ color:#eee; margin:0 20px 0 20px;}
#btn-close{ height:24px; width:24px; float:right; }



#pic_bottom{ height:140px; width:908px; margin:20px 0 20px 10px; background:#000; border:#ccc 1px solid; padding:10px;}
#pic_bottom ul{margin:10px auto 0;width:864px;}
#pic_bottom ul li{display:inline;float:left;text-align:center;margin:0 10px;width:124px;}
#pic_bottom img{ height:90px; width:120px; border:#ccc 1px solid;padding:1px; }
#pic_bottom a:hover img{border:1px solid #666}

/*
孙宝峰 2012-7-13
*/

body{color:#333;font-size:14px; line-height:26px; background:#FFF;}


a:link{text-decoration:none; color:#333;}
a:visited{text-decoration:none; color:#333;}
a:hover{text-decoration:underline; color:#e2041b;}
a:active{text-decoration:none; color:#e2041b;}
/* 图库头部 */
.f18{font-size:18px;}
.d8560f{color:#d8560f !important}
.fdf099{color:#fdf099 !important}
.ffff00{color:#ffff00 !important}
.Head_cont_bg{height:90px;width:950px;}
.Head_cont_all{overflow:hidden;height:90px;width:950px; padding-top:14px;}
.Head_logo{hieght:90px;padding:5px 0 0 10px;}
.Head_tag{width:350px;height:50px;margin:14px 0 0 23px;overflow:hidden;}
.Head_tag a{color:#f8f4f4;font-weight:400; font-family:"微软雅黑";margin:0 5px;text-decoration:none;}
#tag_color a{color:#f8f4f4;}
.Head_tag p{height:26px;line-height:26px;}
.container_24{overflow:hidden;margin:10px 0}
.s_head{width:100%;background:#222;}
.Head_search{margin:4px 5px 0 0;width:380px;display:inline;}
.Head_txt{margin-bottom:3px;}
.Head_txt li{display:inline;float:left;margin-right:10px;}
.Head_txt li a{color:#efc9a0;text-decoration:none}
#txt_color a{color:#efc9a0;}
.search .s_input{background:#FFF url(../img/bg/search.gif) no-repeat 0 0;border:medium none;color:#999;display:inline;float:left;line-height:28px;height:28px;margin-right:8px;padding:0 5px 0 30px;width:291px;_width:256px;*width:256px;width:256px\0;}
.search .button{background:#F90 url(../img/bg/search.gif) no-repeat 0 -28px;border:none 0;color:#FFF;cursor:pointer;display:inline;float:left;font-weight:bold;height:30px;line-height:24px;overflow:hidden;text-align:center;width:78px;}
.search .button:hover{background:url(../img/bg/search.gif) no-repeat 0 -58px;}
.keywords{clear:both;color:#f8f4f4;height:26px;line-height:26px}
.keywords a{color:#fff8d6;margin:0 5px;text-decoration:none}
#key_color a{color:#fff8d6;}
.Head_fgx{background:#CCC url(../img/bg/fgx.jpg) repeat-x 0 0;height:35px;width:950px;}
#s_head{background:#4A4B4A url(../img/bg/bg.jpg) repeat-x 0 0;height:110px;border-bottom:1px solid #5a5a5a;}
#s_pic{background:#171717;width:100%;overflow:hidden;}

/* 头部 */
#Head_box{background: url(../img/bg/title_36.png) repeat-x 0 0;height:29px;overflow:hidden;width:100%}
#Head{ height:90px;width:950px; margin:0 auto; font-size:12px; line-height:23px;}


#Head_center{ height:90px;background:url(../img/icon/logo_kele8_head.png) no-repeat;}
#Head_center img{ float:left; margin:0 15px 0 18px;}
#Head_center_gamelist{height:60px; padding-top:12px; float:left;}
#Head_center_gamelist .title{ height:60px; width:60px; font-weight:bold; float:left;}
#Head_center_gamelist .title li{ height:20px; width:70px;}
#Head_center_gamelist .info{ height:60px; margin-left:10px; float:left;}
#Head_center_gamelist .info li{ height:20px;}
#Head_center_gamelist .info li a{ margin:0 2px 0 2px;}

#Head_bottom{ height:20px;}
#Head_bottom_news_hot{ height:20px; width:700px; float:left;}
#Head_bottom_news_hot a{ margin-right:5px;}
#Head_search{ height:22px; width:250px; float:left;}
#Head_search .input{ height:20px; width:200px;border:#bbb 1px solid; background:#f1efef; color:#666;  padding-left:10px; border-right: 0px ; float:left;}
#Head_search .btn{ height:20px; width:28px; border:#bbb 1px solid; float:left; background:url(../img/button/btn_head_search.png); display:block;}

#Page_Nav{ height:45px; background:#000; color:#FFF;}
#Page_Nav ul{ width:900px; margin:0 auto; line-height:3.2;}


/

/* 右边栏 */
#right_230{ width:230px;}
#right_230 .banner130 img{ height:130px; width:230px; margin-top:10px;}
#right_230 .banner230 img{ height:230px; width:230px; margin-top:10px;}
#right_230 .box{height:265px; width:228px; overflow:hidden;margin-top:10px; border:#ccc 1px solid;}
#right_230 .box li{ height:95px; width:100px; margin:15px 0 0 9px; float:left; text-align:center; line-height:18px; font-size:12px; overflow:hidden; }
#right_230 .box li img{height:75px; width:100px; overflow:hidden; }
#right_230 .news_list{height:26px; line-height:26px; width:200px; background:url(../img/icon/icon_newsleft_2.png) left no-repeat; padding-left:12px; margin-left:10px; overflow:hidden;}
#right_230 .top10 {height:288px; +height:300px; width:228px; margin-top:10px; border:#ccc 1px solid;}
#right_230 .top10 ul{ height:300px; width:208px; margin:10px 0 0 10px; line-height:20px;}
#right_230 ul li{ height:25px; +height:23px;}
#right_230 .nu{height:17px; width:17px; display:block; float:left; background:url(../img/bg/top10_no.png); text-align:center; margin-right:8px;  line-height:18px;overflow:hidden;}
#right_230 .info{ height:20px; width:130px; display:block; float:left; overflow:hidden;}
#right_230 .down{height:20px; width:44px; background:url(../img/button/down.png); text-align:center;  float:right;}


#right_310{ width:310px;}
#right_310 .banner150 img{ height:180px; width:310px; margin-top:10px;}
#right_310 .banner270 img{ height:310px; width:310px; margin-top:10px;}
#right_310 .box{height:308px; width:308px; margin-top:10px; border:#ccc 1px solid;}
#right_310 .box li{ height:128px; width:140px; margin:10px 0 0 9px; float:left; text-align:center; font-size:12px; overflow:hidden; line-height:18px;}
#right_310 .box li img{ height:105px; width:140px; border:#ccc 1px solid;}
#right_310 .news_list{ height:26px; line-height:26px; width:274px; background:url(../img/icon/icon_newsleft_2.png) left no-repeat; padding-left:12px; margin-left:10px; overflow:hidden;}

#right_310 .box_2{height:308px; width:308px; margin-top:10px; border:#ccc 1px solid;}
#right_310 .box_2 .left{ height:270px; width:160px; border-right:1px #CCC dashed; margin-top:4px; float:left;}
#right_310 .box_2 .left li{ height:128px; width:140px; margin:6px 0 0 9px; text-align:center; font-size:12px; line-height:18px; overflow:hidden; }
#right_310 .box_2 .left li img{ height:105px; width:140px; border:#ccc 1px solid;overflow:hidden; }

#right_310 .box_2 .right{ height:270px; width:135px; margin:4px 0 0 10px; float:left;}
#right_310 .box_2 .right li{ height:25px; width:115px; padding-left:15px; background:url(../img/icon/right_list.png) left 6px no-repeat; font-size:12px; line-height:23px; overflow:hidden; }

#right_310 .pic{height:308px; width:308px; margin-top:10px; border:#ccc 1px solid;}
#right_310 .pic li{ height:127px; width:140px; margin:7px 0 0 9px; float:left; text-align:center; font-size:12px; line-height:18px; overflow:hidden; }
#right_310 .pic li img{ height:105px; width:140px; border:#ccc 1px solid;overflow:hidden; }

#right_310 .pic_2{height:220px; width:308px; margin-top:10px; border:#ccc 1px solid;}
#right_310 .pic_2 li{ height:82px; width:60px; margin:10px 0 0 13px; float:left; font-size:12px; line-height:18px; text-align:center; overflow:hidden; }
#right_310 .pic_2 li img{height:60px; width:60px; }


#right_310 .top10 {height:288px; width:308px; margin-top:10px; border:#ccc 1px solid;}
#right_310 .top10 ul{ height:280px; width:298px; margin:8px 0 0 10px; line-height:19px; font-size:12px;}
#right_310 .top10 ul li{ height:25px; +height:22px; width:288px;}
#right_310 .top10 .nu{height:17px; width:17px; display:block; float:left; background:url(../img/bg/top10_no.png); text-align:center; margin-right:8px;  line-height:18px;}
#right_310 .top10 .info{ height:18px; width:155px; display:block; float:left; overflow:hidden; margin-right:5px;}
#right_310 .top10 ul a { width:34px; text-align:center; float:left;}
#right_310 .gray{ color:#78c;}
#right_310 .red{ color:#e2041b;}


#right_310 .top10_news {height:288px; width:308px; margin-top:10px; border:#ccc 1px solid;}
#right_310 .top10_news ul{ height:280px; width:298px; margin:8px 0 0 10px; line-height:19px; font-size:12px;}
#right_310 .top10_news ul li{ height:25px;  +height:22px;width:288px;}
#right_310 .top10_news .nu{height:17px; width:17px; display:block; float:left; background:url(../img/bg/top10_no.png); text-align:center; margin-right:8px;  line-height:18px;}
#right_310 .top10_news .info{ height:18px; width:255px; display:block; float:left; overflow:hidden; margin-right:5px;}

#right_310 .top10_vedio {height:250px; width:308px; margin-top:10px; border:#ccc 1px solid;}
#right_310 .top10_vedio ul{ height:280px; width:298px; margin:8px 0 0 10px; line-height:19px; font-size:12px;}
#right_310 .top10_vedio ul li{ height:22px; width:260px; background:url(../img/icon/icon_newsleft_v.png) left 3px no-repeat; padding-left:26px; margin-top:5px; overflow:hidden;}


/* 标题和更多 */
.title_150{height:28px; width:148px; background: url(../img/bg/title_28.png); border-bottom:#ccc 1px solid; font-size:14px; line-height:30px;}
.title_150_text{height:28px; width:103px; padding-left:10px; font-weight:bold; float:left; font:"微软雅黑", "黑体";}

.title_230{height:28px; width:228px; background: url(../img/bg/title_28.png); border-bottom:#ccc 1px solid; font-size:14px; line-height:30px;}
.title_230_text{height:28px; width:183px; padding-left:10px; font-weight:bold; float:left; font:"微软雅黑", "黑体";}

.title_270{height:28px; width:268px; background: url(../img/bg/title_28.png); border-bottom:#ccc 1px solid; font-size:14px; line-height:30px;}
.title_270_text{height:28px; width:223px; padding-left:10px; font-weight:bold; float:left; font:"微软雅黑", "黑体";}

.title_310{height:28px; width:308px; background: url(../img/bg/title_28.png); border-bottom:#ccc 1px solid; font-size:14px; line-height:30px;}
.title_310_text{height:28px; width:263px; padding-left:10px; font-weight:bold; float:left; font:"微软雅黑", "黑体"; }


.title_350{height:28px; width:348px; background: url(../img/bg/title_28.png); border-bottom:#ccc 1px solid; font-size:14px; line-height:30px;}
.title_350_text{height:28px; width:303px; padding-left:10px; font-weight:bold; float:left;}

.title_430{height:28px; width:428px; background: url(../img/bg/title_28.png); border-bottom:#ccc 1px solid; font-size:14px; line-height:30px;}
.title_430_text{height:28px; width:383px; padding-left:10px; font-weight:bold; float:left;}




.title_630{height:28px; width:628px; background: url(../img/bg/title_28.png); border-bottom:#ccc 1px solid; font-size:14px; line-height:30px;}
.title_630_text{height:34px; width:583px; padding-left:10px; font-weight:bold; float:left; font:"微软雅黑", "黑体"; }

.title_710{height:28px; width:708px; background: url(../img/bg/title_28.png); border-bottom:#ccc 1px solid; font-size:14px; line-height:30px;}
.title_710_text{height:28px; width:350px; padding-left:10px; font-weight:bold; float:left; font:"微软雅黑", "黑体"; }

.title_950{height:28px; width:948px; background: url(../img/bg/title_28.png); border-bottom:#ccc 1px solid; font-size:14px; line-height:30px;}
.title_950_text{height:28px; width:903px; padding-left:10px; font-weight:bold; float:left;}


.title_40_950{ height:35px; width:948px; background: url(../img/bg/title_37.png); border:#bbb 1px solid; font-size:16px; line-height:38px;   margin: 0 5px 0 5px; display: inline;float: left; font-size:12px; }
.title_40_950 img{ float:left;}

.title_40_708{ height:35px; width:708px; background: url(../img/bg/title_37.png); border-bottom:#bbb 1px solid; font-size:16px; line-height:38px;font-size:12px; }
.title_40_708 img{ float:left;}

.title_40_670{ height:35px; width:668px; background: url(../img/bg/title_37.png); border-bottom:#bbb 1px solid; font-size:16px; line-height:38px; }
.title_40_670 img{ float:left;}


.more_24{ width:35px; float:left;}
.more_29{ width:60px; float:right;}
.more_30{ width:35px; float:right;}

.more_40_708{height:38px; width:500px; float:left; text-align:right;}
.more_40_708 em{ width:20px; text-align:center; display:block; float:right;}
.more_40_708 a{ display:block; float:right;}


.more_40_950{height:38px; width:760px; float:left; text-align:right;}
.more_40_950 em{ width:20px; text-align:center; display:block; float:right;}
.more_40_950 a{ display:block; float:right;}

.more_40_710{height:34px; width:300px; float:left; text-align:right; padding-right:39px;}



/* 分享按钮 */
.sina_32{ height:32px; width:32px; background:url(../img/icon/icon_Share.png) top 40px no-repeat; margin-left:16px; text-indent:-9999;}
.sina_32:hover{background:url(../img/icon/icon_Share.png) -32px 40px no-repeat;}


/* 底部 */
#foot_box{ height:330px;margin-top:10px;  background: url(../img/bg/foot.png);}
#Foot{ height:320px; width:950px; margin:10px auto 0 auto;}

#Foot_search{ height:85px;width:350px;_width:360px;margin:20px auto 0; *margin:10px auto 0;*height:55px;}
#Foot_site_map{ height:170px; line-height:25px; *padding-top:10px;}
#Foot_site_map a{font-size:12px;}
/*
sunbf 2012-7-23*/

#Foot_site_map .title{ font-weight:bold; text-align:center;}
#Foot_site_map span{ width:20px; float:left; text-align: center;}
#Foot_site_map a{ width:60px; float:left; text-align: left; text-align:center;}
#Foot_site_map .w140{ display:inline;width:140px; float:left; margin:0 13px 0 12px;}
#Foot_site_map .w70{ width:70px; display:inline;float:left; margin:0 13px 0 12px;}
#Foot_site_map .w56{ width:56px;} 

#Foot_info{ height:50px;margin:10px auto 0;_margin-top:0px;text-align:center; color:#999; font-size:12px;}
#Foot_info span{ margin-left:10px;}

/* 颜思琴 */
.foot_input{ border:1px solid #c0171c; width:257px;line-height:32px;height:32px;*height:30px;*line-height:30px;height:30px\0;line-height:30px\0; padding-left:10px; float:left; color:#666;}
.foot_search_btn{ border:0 none; width:81px; height:32px;line-height:32px; color:#fff; font-family:"黑体"; float:left; font-size:16px; background: url(../img/button/foot_search_btn.png) no-repeat; cursor:pointer;}
.foot_search_btn:hover{ background:url(../img/button/foot_search_btn_h.png) no-repeat;}
