@charset "utf-8";
/* 
wind.chen 

Kele8_V3
wind_chen_nt@gmail.com 
*/


/*
sunbf_2012-7-24
图片边框样式*/
#Pc_bbs .top a:hover img,
#Webgame_recommend .box a:hover img,
#Pcgame_data .right a:hover img,
#news_today_top a:hover img,
#Pcgame_hotgame a:hover img,
#Pcgame_Raiders_hotgame li a:hover img,
#Pcgame_Recommend a:hover img{border:1px solid #666}


#pc_game_topic{ height:160px; width:948px; margin-top:10px; border:#c2d3dd 1px solid; font-size:12px;}
#pc_game_topic .tab{ height:32px; width:948px; border-bottom:#c2d3dd 1px solid;}
#pc_game_topic .tab li{ height:26px; width:65px; background:url(../img/bg/Pcgame_toptag.png); margin:5px 0 0 8px; border:#c2d3dd 1px solid; border-bottom: none; overflow:hidden; display:block;}
#pc_game_topic .tab a:hover {text-decoration:none; color:#e2041b;}
#pc_game_topic .tab .on_6{ background:none;  border:#c2d3dd 1px solid; border-bottom:none; font-weight:bold;}

#pc_game_topic .center{ height:140px; width:948px; overflow:hidden; }
#pc_game_topic .center li{ height:18px; width:450px; float:left; overflow:hidden; margin:8px 8px 0 8px;line-height:20px;}
#pc_game_topic .center li img{ float:left;}
#pc_game_topic .center li a{ display:block; margin:0 5px 0 5px;  float:left;}
#pc_game_topic .center li span{ height:18px; width:10px; text-align:center;float:left;}
#pc_game_topic .center li .red{ color: #e2041b;}
#pc_game_topic .center .title{ height:18px; width:60px; padding-left:6px; text-align:left; color:#FFF; background:url(../img/icon/pcgame_tag.png);}

#pc_game_topic .center .title_red{ height:18px; width:60px; padding-left:6px; text-align:left; color:#FFF; background:url(../img/icon/pcgame_tag_red.png);}
#pc_game_topic .center .bottom{ height:20px; width:900px; float:left; overflow:hidden; margin:8px 8px 0 8px; padding-top:8px; border-top:#CCC 1px dashed; line-height:20px;}





/*第一屏新闻*/
#news{ height:440px; margin-top:10px;}

#news_vedio{ height:175px; width:348px; margin-top:10px;  border:#ccc 1px solid;}
#news_vedio .top{width:338px; margin:10px 0 0 10px;}
#news_vedio .top a{ height:120px; width:100px; margin:0 12px 8px 0; float:left; text-align:center; overflow:hidden;line-height:18px\0;}
#news_vedio .top img{ height:72px; width:100px; border:#bbb 1px solid;}

#Pcbgame_news{ height:440px; width:348px;}

/*#webgame_slider{ height:220px; width:350px; }*/


#Pcbgame_hot{ height:175px; width:348px; margin-top:10px; border:#ccc 1px solid;}
#Pcbgame_hot .list{ margin:10px 0 0 10px;}
#Pcbgame_hot .list a{ height:95px; width:100px; margin:0 12px 8px 0; float:left; text-align:center; overflow:hidden;line-height:18px\0;}
#Pcbgame_hot img{ height:72px; width:100px; border:#bbb 1px solid;}


#news_newgame{ height:500px; width:228px; border:#ccc 1px solid; font-size:12px; line-height:22px;}
#news_newgame .left{ height:62px; width:82px; margin:8px 5px 0 5px; float:left; line-height:26px; overflow:hidden; text-align:center;}
#news_newgame .left img{ height:60px; width:80px;border:#ccc 1px solid; clear:both;}
#news_newgame .info{ height:62px; width:130px; margin-top:8px; float:left; overflow:hidden; }
#news_newgame .title {height:20px; width:130px; overflow:hidden; font-weight:bold;}


#game_info{ height:358px;  width:228px; border:#ccc 1px solid; }
#game_info .title{ height:20px; width:228px; font-size:16px; font-weight:bold; float:left; margin-bottom:10px;padding-left:5px;}
#game_info img{height:120px; width:90px; border:#666 1px solid; margin:0 0 10px 5px; float:left;}
#game_info .info{height:120px; width:120px;  padding-left:5px; font-size:12px; line-height:22px;float:left;}
#game_info .info p{height:21px; width:120px; overflow:hidden;}
#game_info .info a{ margin-left:6px; font-weight:bold;}
#game_info .bottom{ width:218px;border-top:#bbb 1px dashed; margin:0 5px 0 5px; padding-top:8px;}
#game_info .bottom li{ height:25px; font-size:12px;line-height:18px;}
#game_info .bottom .nu{height:17px; width:17px; display:block; float:left; background:url(../img/bg/top10_no.png); text-align:center; margin-right:8px;  }
#game_info .bottom .info{ height:18px; width:120px; display:block; float:left; overflow:hidden;}
#game_info .bottom .start{height:18px; width:54px; background: url(../img/button/btn_Flashgame_list_start.png); text-align:center;  float:right;}
#game_info .bottom .start:hover{background: url(../img/button/btn_Flashgame_list_start_h.png);text-decoration:none;}

#Webgame_recommend{ height:440px; width:228px;  border:#ccc 1px solid;font-size:12px; line-height:23px;}
#Webgame_recommend .box{ height:100px; width:228px; border-bottom:#ccc 1px dashed; clear:both;}
#Webgame_recommend .box_b{ height:100px; width:228px; clear:both;}
#Webgame_recommend .left{ height:90px; width:90px; margin:5px 5px 0 5px; float:left; line-height:26px; overflow:hidden; text-align:center;line-height:18px\0;}
#Webgame_recommend .left img{ height:64px; width:86px;border:#ccc 1px solid; clear:both;padding:1px}
#Webgame_recommend .info{ height:90px; width:125px; margin-top:5px; float:left; overflow:hidden; }
#Webgame_recommend .info a{ font-weight:bold;color:#ea5506; margin:0 5px 0 5px;}




#news_pic{ height:200px; width:948px; margin-top:10px; border:#ccc 1px solid;}


#Pcgame_pic{ height:270px; margin-top:10px;}
#Pcgame_pic .slider{ height:270px; width:270px; background:#CCC; margin-top:10px;}

#Pcgame_pic .center{height:270px; width:430px; margin-top:10px;}
#Pcgame_pic .center a{ height:124px; width:128px; margin:0 7px 16px 7px; float:left; text-align:center; overflow:hidden;line-height:21px\0;}
#Pcgame_pic .center img{ height:96px; width:128px;border:#bbb 1px solid;}

#Pcgame_pic .news{height:270px; width:228px;border:#ccc 1px solid; margin-top:10px;}


#Pcgame_data{ height:245px; margin-top:10px;}
#Pcgame_data_left{ height:245px; width:708px;border:#ccc 1px solid; }
#Pcgame_data_left table{ height:180px; width:708px;line-height:19px; border-collapse:collapse;}
#Pcgame_data_left table th{height:30px; width:88px;font-size:14px;font-weight:bold;  overflow:hidden; background:#ebebeb; color:#158385; text-align:center;}
#Pcgame_data_left table tr{ height:30px; width:88px;  overflow:hidden; text-align:center; }
#Pcgame_data_left td{font-size:12px}
.bgcolor{background:/*#D3DFEE*/#D2EAF1;color:#4b74c0}

#Pcgame_data_left table .enroll{ height:18px; width:36px; background:url(../img/button/allpage_bt.png) -240px 0 no-repeat; cursor:pointer; display:block; margin-left:26px}
#Pcgame_data_left table .enroll:hover{background:url(../img/button/allpage_bt.png) -240px -18px no-repeat; }
#Pcgame_data_left table .Area{height:18px; width:36px; background:url(../img/button/allpage_bt.png) -204px 0 no-repeat;cursor:pointer; display:block; margin-left:26px; }
#Pcgame_data_left table .Area:hover{background:url(../img/button/allpage_bt.png) -204px -18px no-repeat; }
#Pcgame_data .right{ height:245px; width:228px;border:#ccc 1px solid;}
#Pcgame_data .right .top{ height:106px; width:100px; margin:10px 0 0 9px; float:left; font-size:12px; line-height:25px; overflow:hidden; text-align:center;line-height:25px;}
#Pcgame_data .right img{ height:73px; width:96px;border:#ccc 1px solid; clear:both;padding:1px}


#Pcgame_newgame{height:197px; width:348px;border:#ccc 1px solid; margin-top:10px;}
#Pcgame_newgame table{ height:167px; width:210px; margin-top:3px;float:right;display:inline;margin-right:5px; }
#Pcgame_newgame table th{height:25px; width:73px;  overflow:hidden; color:#158385; text-align:center;}
#Pcgame_newgame table tr{ height:21px; width:73px;  overflow:hidden; text-align:center; font-size:12px;line-height:18px; }
#Pcgame_newgame table .go{height:18px; width:56px; background:url(../img/button/pc_game_start.png)center no-repeat;cursor:pointer; display:block; margin-left:12px; }
#Pcgame_newgame table .go:hover{ background:url(../img/button/pc_game_start_h.png)center no-repeat; }
#Pcgame_newgame img{ height:146px; width:109px;border:1px solid #CCC; float:left; margin:10px 0 0 8px;dsiplay:inline;padding:1px;}


#Pcgame_raiders{height:121px; width:348px;border:#ccc 1px solid; margin-top:10px;}



#Pcgame_newgame_news{height:330px; width:348px;border:#ccc 1px solid; margin-top:10px;}

#Pcgame_newgame_top10{ height:330px; width:228px;border:#ccc 1px solid; margin-top:10px;}
#Pcgame_newgame_top10 ul{ height:300px; _height:270px; width:210px; margin:10px 0 0 10px; line-height:20px;}
#Pcgame_newgame_top10 ul li{height:29px; *height:26px; }
#Pcgame_newgame_top10 .nu{height:17px; width:17px; display:block; float:left; background:url(../img/bg/top10_no.png); text-align:center; margin-right:8px;  line-height:18px;}
#Pcgame_newgame_top10 .info{ height:20px; width:185px; display:block; float:left; overflow:hidden;}


#Pcgame_hotgame{ height:400px; width:708px;border:#ccc 1px solid; margin-top:10px;}
#Pcgame_hotgame ul{margin:0 auto;width:690px}
#Pcgame_hotgame ul li{ height:175px; width:132px; margin:12px 3px 0; float:left;display:inline;text-align:center; font-size:12px; line-height:16px;}
#Pcgame_hotgame ul p{ height:17px; width:132px; margin-top:5px; overflow:hidden;}
#Pcgame_hotgame .top{ height:86px; width:116px;border:1px solid #CCC;padding:1px;}

#Pcgame_hotgame .star{ height:12px; width:72px; float:right;}
#Pcgame_hotgame ul p a{height:18px; width:36px; margin-left:20px;_display:inline; display:block; text-align:center; background:url(../img/button/allpage_bt.png)  no-repeat -204px 0; float:left;}

#Pcgame_hotgame_top10{ height:400px; width:228px;border:#ccc 1px solid; margin-top:10px;}
#Pcgame_hotgame_top10 ul{ height:300px; width:208px; margin:5px 0 0 10px; line-height:20px; font-size:12px;}
#Pcgame_hotgame_top10 ul li{ height:24px; *height:21px;_height:21px;}
#Pcgame_hotgame_top10 .nu{height:17px; width:17px; display:block; float:left; background:url(../img/bg/top10_no.png); text-align:center; margin-right:8px;  line-height:18px;}
#Pcgame_hotgame_top10 .info{ height:20px;line-height:20px; width:120px; display:block; float:left; overflow:hidden;}
#Pcgame_hotgame_top10 .down{height:18px; width:54px; background: url(../img/button/allpage_bt.png) -104px 0 no-repeat; text-align:center;  float:right; }
#Pcgame_hotgame_top10 .down:hover{ background: url(../img/button/allpage_bt.png) -104px -18px no-repeat;}



#Pcgame_Raiders_hot{ height:120px; width:268px; border:#ccc 1px solid; margin-top:10px;}
#Pcgame_Raiders_hot .info{ height:75px; width:248px; margin:5px; overflow:hidden;}
#Pcgame_Raiders_hot .info a{border-left:1px solid #CCC;margin-left:-1px;padding:0 6px 0 7px;font-size:12px;height:25px;display:inline;line-height:25px;}

#Pcgame_Raiders_new{ height:308px; width:268px; border:#ccc 1px solid; margin-top:10px;}

#Pcgame_Raiders_hotgame{ height:440px; width:428px; border:#ccc 1px solid; margin-top:10px;}
#Pcgame_Raiders_hotgame li{ height:120px; width:415px; margin:9px 0 9px 9px; border-bottom:1px #CCC dashed;}
#Pcgame_Raiders_hotgame li .left{ height:120px; width:120px; font-size:12px; overflow:hidden; float: left; text-align:center;}
#Pcgame_Raiders_hotgame li img{ height:86px; width:116px; font-size:12px; overflow:hidden;border:1px solid #CCC;padding:1px;}

#Pcgame_Raiders_hotgame li .right{ height:120px; width:270px; float: right;}
#Pcgame_Raiders_hotgame li .right p{ height:30px; width:268px;  overflow:hidden; float: right;}




#Pcgame_Recommend{ height:488px; width:228px;border:#ccc 1px solid; margin-top:10px;}
#Pcgame_Recommend ul li{ height:140px; width:208px; margin:10px; font-size:12px; overflow:hidden; line-height:19px; text-align:center;}

#Pcgame_Recommend img{ height:114px; width:204px;border:1px solid #CCC;padding:1px;}






#Pcgame_bbs{ height:280px; margin-top:10px;}
#Pcgame_bbs .box1{height:230px; width:348px;border:#ccc 1px solid; margin-top:10px;}
#Pcgame_bbs .box2{height:275px; width:348px;border:#ccc 1px solid; margin-top:10px;}
#Pcgame_bbs .qustion{height:230px; width:228px;border:#ccc 1px solid; margin-top:10px;}
#Pcgame_bbs .music{height:275px; width:228px;border:#ccc 1px solid; margin-top:10px;}
#Pcgame_bbs .more{ margin:0 10px 0 10px; font-weight:bold;}




#Pcgame_bbs .info img {height:62px; width:62px; float:left; margin-right:10px; display:block;}
#Pcgame_bbs .info { height:62px; width:147px; float:left; margin:20px 0 0 15px;font-size:12px; display:block; line-height:18px; overflow:hidden;}
#Pcgame_bbs .info p{ height:21px; width:65px; float:left; overflow:hidden;}
#Pcgame_bbs .info .go{ height:18px; width:53px; background:url(../img/button/allpage_bt.png) -104px 0 no-repeat; text-align:center; color:#FFF; display:block;}
#Pcgame_bbs .info .go:hover{ background:url(../img/button/allpage_bt.png) -104px -18px no-repeat; text-decoration:none; color:#e2041b;}
.line_x348{ line-height:1px; height:1px; width:348px; float:left; border-top:1px #CCC dashed;}
.line_y115{ height:95px; width:0px; float:left; border-right:1px #CCC dashed;}




#news_today_top_top{ height:30px; width:328px; margin:0 0 0 10px; line-height:23px; padding-top:7px; border-bottom:#ccc 1px dashed;font-size:12px; overflow:hidden;}
#news_today{ height:258px;width:348px; border:#ccc 1px solid;}
#news_today_top{ height:120px; width:338px; margin:0 0 0 10px; line-height:23px; padding-top:7px; border-bottom:#ccc 1px dashed;font-size:12px;}
#news_today_top .left{ height:115px; width:120px; overflow:hidden;margin-top:3px; font-size:12px; float:left; text-align:center; }
#news_today_top .left img{ border:1px solid #CCC;height:86px; width:116px;padding:1px;}

#news_today_top .right{ height:112px; width:200px; margin-left:12px; float:left; overflow:hidden;  line-height:21px;  }
#news_today_top .right p{color:#666}
#news_today_top .right h4 a{color:#e2041b;display:block;font-size:14px;font-weight:bold;text-decoration:none;width:200px;height:26px;}

#news_today_center{ height:110px; width:324px;margin:0 0 0 12px;  }
#news_today_bottom{ height:180px; width:324px;margin:0 12px 0 12px; }

#news_game{ height:188px;width:348px; margin-top:10px; border:#ccc 1px solid; }

#Pc_bbs{ height:210px; width:348px; margin-top:10px;margin-top:2px\9;+margin-top:10px;  border:#ccc 1px solid;}
#Pc_bbs .top{ height:98px; width:330px; margin:5px 0 0 14px;}
#Pc_bbs .top img{ border:1px solid #CCC;padding:1px;height:86px; width:116px;display:inline; margin-right:16px; float:left;}
#Pc_bbs .top_title{ height:29px; line-height:29px;width:190px; overflow:hidden; float:left; font-weight:bold; color:#e2041b;}
#Pc_bbs .top_info{ height:66px; width:190px; overflow:hidden; float:left;  font-size:12px; line-height:21px;}


#Topic_game{height:170px; width:348px;margin-top:10px; border:#ccc 1px solid;}
#Topic_game ul{height:130px; width:340px; margin-left:4px; font-size:12px;}

#Topic_game li{ height:22px; width:75px; float:left; margin:5px 0 0 4px; padding:0 0 5px 4px; border-bottom:1px #4ba1d2 dashed;}
#Topic_game li .icon{ width:25px; height:20px; float:left; }
#Topic_game li .icon img{ width:20px; height:20px;}
#Topic_game li .info{ height:20px; width:50px; float:left; overflow:hidden;}





/*选项卡*/

.tab li{height:29px; width:80px; float:left; text-align:center;display:block;  background:url(../img/line/line_tab_on.png)  bottom right no-repeat ;}
#Webgame_card .tab li{height:29px; width:75px; float:left; text-align:center; cursor:pointer;  display:block;}




/* 排行榜切换 */
.ranking_layout{ width:140px; clear:both; font-size:12px; padding:0 4px 0 4px; }
.ranking_cont{ width:140px; clear:both; position:relative; margin-top:-1px; padding:0 4px 0 4px;}
.ranking_cont p {display: none;}
.ranking_cont h3{ height:26px; line-height:18px; width:136px; overflow:hidden; font-size:12px; margin-top:5px; position:relative; display:block; cursor:pointer; }

/* 新闻列表 */
.news_list_w350{ width:324px; line-height:26px; margin-top:10px;}
.news_list_w350 li{height:26px;  width:314px; background:url(../img/icon/icon_newsleft_2.png) left 9px no-repeat; padding-left:12px; overflow:hidden;}
.news_list_w310{ width:284px; line-height:26px; }
.news_list_w310 li{ height:26px;  width:274px; background:url(../img/icon/icon_newsleft_2.png) left 9px no-repeat; padding-left:12px; overflow:hidden;}

.news_list_w270{ width:244px; line-height:26px; margin-top:10px;}
.news_list_w270 li{height:26px;  width:234px; background:url(../img/icon/icon_newsleft_2.png) left 9px no-repeat; padding-left:12px; overflow:hidden;}

.news_list_w230{ width:204px; line-height:23px;}
.news_list_w230 li{height:23px;  width:200px; background:url(../img/icon/icon_newsleft_2.png) left 9px no-repeat; padding-left:12px; overflow:hidden;}



.news_list_w270{ width:244px; line-height:26px; padding-left:12px; }
.news_list_w270 li{ height:26px;  width:244px; overflow:hidden;}
.news_list_vedio{ width:323px; line-height:26px; }
.news_list_vedio li{ height:26px; width:300px;  background: url(../img/icon/icon_newsleft_v.png) left 6px no-repeat; padding-left:23px; overflow:hidden;}
.news_list_star{ width:324px; line-height:26px; margin:5px 0 0 10px;}
.news_list_star li{height:26px;  width:310px; background: url(../img/icon/icon_newsleft_4.png) left no-repeat; padding-left:16px; overflow:hidden;}
.news_list_qustion{ width:208px; line-height:26px; margin:5px 0 0 10px;}
.news_list_qustion li{height:26px;  width:200px; background: url(../img/icon/icon_newsleft_q.png) left 8px no-repeat; padding-left:13px; overflow:hidden;}
.news_list_b{ width:324px; line-height:26px; margin-left:14px;}
.news_list_b li{height:26px;  width:314px; background:url(../img/icon/icon_newsleft_2.png) left 9px no-repeat; padding-left:12px; overflow:hidden;}




.news_title_01{ font-size:16px; color:#e2041b; text-align:center; font-weight:bold;height:26px; width:322px; overflow:hidden;}
.news_title_01 a{color:#e2041b;}
.news_title_01 a:link{text-decoration:none; color:#e2041b;}
.news_title_01 a:visited{text-decoration:none; color:#e2041b;}
.news_title_01 a:hover{text-decoration:underline; color:#e2041b;}
.news_title_01 a:active{text-decoration:none; color:#e2041b;}

.news_box_01{height:81px; width:324px; margin:10px 12px 0 12px; clear:both;}
.news_box_01 img{ height:81px; width:108px; border:#ccc 1px solid; float:left;}
.news_box_01 .title{height:18px; width:200px; color:#e2041b;float:left; padding-left:10px;line-height:18px;overflow:hidden;}
.news_box_01 .title a{color:#e2041b;}
.news_box_01 .info{ height:63px; width:200px; font-size:12px; float:left; padding-left:10px; text-indent:2em; line-height:22px;overflow:hidden;}
.news_box_01 .bottom{width:324px; float:left;}
.news_box_01 .list{height:20px; width:200px; padding-left:10px;line-height:21px; float:left; overflow:hidden;}

.news_box_02{ height:66px;width:324px; margin:10px 12px 0 12px; clear:both;}
.news_box_02 img{ height:66px; width:88px; border:#ccc 1px solid; float:left;}
.news_box_02 .title{height:18px; width:220px; color:#e2041b;float:left; padding-left:10px;line-height:18px;overflow:hidden;}
.news_box_02 .title a{color:#e2041b;}
.news_box_02 .info{ height:48px; width:220px; font-size:12px; float:left; padding-left:10px; text-indent:2em; line-height:26px;overflow:hidden;}

.top_img_01{height:140px; width:348px; margin-top:10px; clear:both;}
.top_img_01 a{height:138px; width:162px; margin-left:8px; overflow:hidden; text-align:center; float:left; line-height:18px\0; font-size: 12px; line-height:20px;}
.top_img_01 img{height:120px; width:160px; border:#bbb 1px solid;}



/* 图片切换 */
.rollBox{height:140px; width:948px; margin-top:10px;}
.rollBox .LeftBotton{height:82px;width:20px;background: url(../img/icon/Arrow_left.png);float:left;display:inline;cursor:pointer; margin:30px 0 0 5px;}
.rollBox .RightBotton{height:82px;width:20px;background: url(../img/icon/Arrow_right.png);float:left;display:inline;cursor:pointer; margin-top:30px;}
.rollBox .Cont{height:140px; width:900px;margin-top:2px;overflow:hidden;float:left;}
.rollBox .ScrCont,.rollBox .ScrCont2{width:10000000px;}
.rollBox .Cont .pic{ height:140px; width:209px; margin:8px;float:left; overflow:hidden;text-align:center;}
.rollBox .Cont .pic img{height:107px; width:209px;}

.rollBox #List1,.rollBox #List2,.rollBox #List3,.rollBox #List4{float:left;}










